{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        "corejs": 2,
        "useBuiltIns": "usage" // @babel/polyfill 配置：usage 按需加载 ECMAscript 规范库
      }
    ]
  ]
}
